<div class="content-wrapper">
  <div class="flash-container flash-container-page"></div>
  <div class="container-fluid container-limited">
    <div class="content">
      <div class="top-area">
        <ul class="nav-links">
          <li class="">
            <a class="shortcuts-activity" data-placement="right" href="/dashboard/projects" title="Home">Your Projects</a>
          </li>
          <li class="">
            <a data-placement="right" href="/dashboard/projects/starred" title="Starred Projects">Starred Projects</a>
          </li>
          <li class="active">
            <a data-placement="right" href="/explore" title="Explore">Explore
              Projects</a>
          </li>
        </ul>
        <div class="nav-controls">
          <form accept-charset="UTF-8" action="/explore" class="project-filter-form" id="project-filter-form" method="get" name="project-filter-form">
            <input name="utf8" type="hidden" value="✓">
            <input class="project-filter-form-field form-control input-short projects-list-filter" id="project-filter-form-field" name="filter_projects" placeholder="Filter by name..." spellcheck="false" tabindex="2" type="search" value="">
          </form>
          <div class="dropdown inline">
            <button class="dropdown-menu-toggle" data-toggle="dropdown" id="sort-projects-dropdown" type="button"><span class="dropdown-toggle-text">Last updated</span><i class="fa fa-chevron-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-align-right dropdown-menu-selectable">
              <li class="dropdown-header">Sort by</li>
              <li>
                <a href="/explore?archived=&amp;group=&amp;namespace_id=&amp;personal=&amp;scope=&amp;sort=name_asc&amp;tag=&amp;visibility_level=">
                  Name</a>
              </li>
              <li>
                <a class="is-active" href="/explore?archived=&amp;group=&amp;namespace_id=&amp;personal=&amp;scope=&amp;sort=updated_desc&amp;tag=&amp;visibility_level=">
                  Last updated</a>
              </li>
              <li>
                <a href="/explore?archived=&amp;group=&amp;namespace_id=&amp;personal=&amp;scope=&amp;sort=updated_asc&amp;tag=&amp;visibility_level=">
                  Oldest updated</a>
              </li>
              <li>
                <a href="/explore?archived=&amp;group=&amp;namespace_id=&amp;personal=&amp;scope=&amp;sort=created_desc&amp;tag=&amp;visibility_level=">
                  Last created</a>
              </li>
              <li>
                <a href="/explore?archived=&amp;group=&amp;namespace_id=&amp;personal=&amp;scope=&amp;sort=created_asc&amp;tag=&amp;visibility_level=">
                  Oldest created</a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="is-active" href="/explore?archived=&amp;group=&amp;namespace_id=&amp;scope=&amp;sort=updated_desc&amp;tag=&amp;visibility_level=">
                  Hide archived projects</a>
              </li>
              <li>
                <a href="/explore?archived=true&amp;group=&amp;namespace_id=&amp;scope=&amp;sort=updated_desc&amp;tag=&amp;visibility_level=">
                  Show archived projects</a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="is-active" href="/explore?group=&amp;namespace_id=&amp;personal=&amp;scope=&amp;sort=updated_desc&amp;tag=&amp;visibility_level=">
                  Owned by anyone</a>
              </li>
              <li>
                <a href="/explore?group=&amp;namespace_id=&amp;personal=true&amp;scope=&amp;sort=updated_desc&amp;tag=&amp;visibility_level=">
                  Owned by me</a>
              </li>
            </ul>
          </div><a class="btn btn-new" href="/projects/new">New Project</a>
        </div>
      </div>
      <div class="projects-list-holder">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
